.app-container {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*width: 100%;*/
}

html, body {
  /* background-image: url('/public/images/image2.jpg');
  background-size: cover;
  background-position: center;
  background-color:#ffffff; 
  background-attachment: fixed; */
  height: 100%; 
  margin: 0; 
  color: #1c4072;
  background-color:#95d3f5; 
  font-family: 'Arial Black', Gadget, sans-serif;
 }

 .wave-container {
  position: fixed; /*was fixed before*/
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1000px; /* Adjust based on the height of your wave image */
  background: url('/public/images/wave.webp') no-repeat bottom center;
  background-size: cover;
}


.show-form-button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #1c4072;
  color: white;
  border: none;
  border-radius: 5px;
}

.show-form-button:hover {
  background-color: #2a5a9e; 
}


/* Styling for the form elements */
/* form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-top: 20px;
} */

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-top: 20px;
}

form div {
  margin-bottom: 15px;
 }


 label {
  color: #121f3d;
  margin-right: 10px;
  font-weight: bold;
 }

input[type="number"],
input[type="text"],
select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: calc(100% - 24px);
}

button[type="submit"] {
  padding: 10px 20px;
  /* background-color: #4CAF50; */
  background-color: #1c4072;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #2a5a9e;
}

.email-evaluation-container {
  text-align: center;
}

.email-container {
  text-align: left;
  border: 1px solid #ccc;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  margin: 20px auto;
  width: 80%; /* Adjust width as needed */
  background-color: #e8eaf6; 
  color: black;
  border-radius: 8px;
} 

.email-evaluation-container h3 {
  color: white;
}

.evaluation-section .form-group label {
  color: white; /* Sets the label color to white */
}


.evaluation-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.column button {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 150px; 
  background-color: #1c4072; 
  color: white;
  border-radius: 5px;
  margin-right: 10px;
}

.column {
  display: flex;
}

.column button:hover {
  background-color: #2a5a9e; 
}

.label {
  display: block;
  font-size: larger;
  color: black;
  padding: 5px;
  text-align: left;
}

.input {
  font-size: larger;
  padding: 5px;
  margin: 2px;
}

.btn {
  color: white;
  background-color: red;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
  justify-content: center;
}

.messages {
  display: flex;
  justify-content: center;
}

.error {
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
}

.success {
  display: block;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
}


.startEvaluationButton {
  display: block;
  margin: 0 auto; /* Center the button */
  margin-bottom: 10px;
  padding: 10px;
  width: 150px; 
  background-color: #1c4072; 
  color: white;
  border: none; /* Remove border */
  border-radius: 5px;
  cursor: pointer; /* Change cursor to pointer on hover */
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.score {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.learnMoreBtn {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.learnMoreBtn:hover {
  background-color: #0056b3;
}


.main-content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*height: calc(100vh - 1000px); /* Adjust the height calculation if necessary */
  padding-bottom: 1000px; /* Adjust based on the height of your wave image */
}


.content-container {
  position: relative; /* Keeps it in the normal flow of the document, above the wave-container */
  z-index: 2; /* Ensures it is layered above the .wave-container */
  width: 100%; /* Ensures the container spans the full width of the viewport */
  max-width: 1200px; /* Optional: Limits the width for larger screens */
  margin: 0 auto; /* Centers the container within the viewport */
  padding: 20px; /* Adds some spacing inside the container */
  box-sizing: border-box; /* Ensures padding does not affect the overall width */
}


.educational-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure the container takes at least the full viewport height */
  padding: 50px 0; /* Add more padding at the top and bottom */
  box-sizing: border-box; /* Ensures padding is included in the height calculation */
  background-color: #f5f5f7;
}


.educational-content {
  max-width: 600px; /* Adjust based on your preference */
  padding: 20px;
  background-color: white; /* White background for the content */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Soft shadow for depth */
  text-align: center; /* Center text */
}

.takeaways {
  margin-top: 20px;
}

.takeaway {
  margin-bottom: 20px; /* Spacing between each takeaway */
}

.takeaway h2 {
  color: #007bff; /* Blue for headings */
  font-size: 1.5em; /* Slightly larger font size for headings */
}

.takeaway p {
  font-size: 1em; /* Standard font size for text */
  line-height: 1.5; /* Improved readability */
}

.results-summary-container__result {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  border-radius: 10px 10px 0 0;
  background-image: linear-gradient(to bottom, #007991, #78ffd6);
}
.results-summary-container__options {
  padding: 0 16px;
}
.summary-result-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.result-option {
  width: 90%;
  height: 40px;
  background-color: hsl(205, 65%, 87%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
}
.result-text{
  color: #121F3D;
  font-weight: bold;
  font-size: 16px;
  padding-left: 10px;
}
.result-box {
  font-size: 16px;
  color: #121F3D;
  font-weight: 700;
  padding-right: 10px;
}
.result-box span {
  font-size: 16px;
  color: #121F3D;
}
.confetti {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
}
.confetti-piece {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(0, 105, 251, 0.265); /* Semi-transparent white for a bubbly effect */
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  top: 0;
  opacity: 0;
  animation: bubbleRise 3000ms infinite ease-in-out;
}
.confetti-piece:nth-child(1) {
  left: 7%;
  transform: rotate(-10deg);
  animation-delay: 182ms;
  animation-duration: 2000ms;
}
.confetti-piece:nth-child(2) {
  left: 14%;
  transform: rotate(20deg);
  animation-delay: 161ms;
  animation-duration: 2076ms;
}
.confetti-piece:nth-child(3) {
  left: 21%;
  transform: rotate(-51deg);
  animation-delay: 481ms;
  animation-duration: 2103ms;
}
.confetti-piece:nth-child(4) {
  left: 28%;
  transform: rotate(61deg);
  animation-delay: 334ms;
  animation-duration: 1008ms;
}
.confetti-piece:nth-child(5) {
  left: 35%;
  transform: rotate(-52deg);
  animation-delay: 302ms;
  animation-duration: 1776ms;
}
.confetti-piece:nth-child(6) {
  left: 42%;
  transform: rotate(38deg);
  animation-delay: 180ms;
  animation-duration: 1168ms;
}
.confetti-piece:nth-child(7) {
  left: 49%;
  transform: rotate(11deg);
  animation-delay: 395ms;
  animation-duration: 1200ms;
}
.confetti-piece:nth-child(8) {
  left: 56%;
  transform: rotate(49deg);
  animation-delay: 14ms;
  animation-duration: 1887ms;
}
.confetti-piece:nth-child(9) {
  left: 63%;
  transform: rotate(-72deg);
  animation-delay: 149ms;
  animation-duration: 1805ms;
}
.confetti-piece:nth-child(10) {
  left: 70%;
  transform: rotate(10deg);
  animation-delay: 351ms;
  animation-duration: 2059ms;
}
.confetti-piece:nth-child(11) {
  left: 77%;
  transform: rotate(4deg);
  animation-delay: 307ms;
  animation-duration: 1132ms;
}
.confetti-piece:nth-child(12) {
  left: 84%;
  transform: rotate(42deg);
  animation-delay: 464ms;
  animation-duration: 1776ms;
}
.confetti-piece:nth-child(13) {
  left: 91%;
  transform: rotate(-72deg);
  animation-delay: 429ms;
  animation-duration: 1818ms;
}
.confetti-piece:nth-child(14) {
  left: 94%;
  transform: rotate(-72deg);
  animation-delay: 429ms;
  animation-duration: 818ms;
}
.confetti-piece:nth-child(15) {
  left: 96%;
  transform: rotate(-72deg);
  animation-delay: 429ms;
  animation-duration: 2818ms;
}
.confetti-piece:nth-child(16) {
  left: 98%;
  transform: rotate(-72deg);
  animation-delay: 429ms;
  animation-duration: 2818ms;
}
.confetti-piece:nth-child(17) {
  left: 50%;
  transform: rotate(-72deg);
  animation-delay: 429ms;
  animation-duration: 2818ms;
}
.confetti-piece:nth-child(18) {
  left: 60%;
  transform: rotate(-72deg);
  animation-delay: 429ms;
  animation-duration: 1818ms;
}
.confetti-piece:nth-child(odd) {
  background-color: hsl(190, 100%, 67%);
}
.confetti-piece:nth-child(even) {
  z-index: 1;
}
.confetti-piece:nth-child(4n) {
  animation-duration: 4000ms;
  background-color: #37c3ae;
}
.confetti-piece:nth-child(5n) {
  animation-duration: 4000ms;
  background-color: #7a6ab3;
}
.confetti-piece:nth-child(3n) {
  animation-duration: 2500ms;
  animation-delay: 3000ms;
  background-color: #2433dd;
}
.confetti-piece:nth-child(3n-7) {
  background-color: hsl(212, 90%, 77%);
}
@keyframes bubbleRise {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* 
.choice-container,
.form-container,
.enter-study-container {
  margin-top: 20px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.choice-button,
.submit-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.choice-button.yes {
  background-color: #007bff;
  color: white;
}

.choice-button.no {
  background-color: #007bff;
  color: white;
}

.choice-button:hover,
.submit-button:hover {
  opacity: 0.9;
}

.text-input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 22px); /* Adjust based on padding 
}
/* 
.submit-button {
  background-color: #007bff;
  color: white;
}

.form-container label,
.enter-study-container p {
  display: block;
  margin-bottom: 15px;
} */

.form-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: fit-content;
}

.section-container {
  background-color: #f9f9f9; /* Slightly off-white background for contrast */
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.button-container, .form-button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.choice-button, .submit-button {
  padding: 10px 20px;
  background-color: #1c4072;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.choice-button:hover, .submit-button:hover {
  background-color: #2a5a9e;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin: 10px 0 20px 0; /* Add space below the input */
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* Ensure padding does not affect the overall width */
}


.highlight {
  background-color: yellow;
}